body{
    width: 100%;
    background-color: #fff;

    /*background-color: #f0f3ef;*/
}
.navbar {
    width: 1230px;
    margin: 0 auto;
}
.carousel {
    width: 1230%;
    margin: 0 auto;
}
.specialmenu {
    background-color: gray;
}
.container-fluid{

}
.carousel{

}
/* 热点信息 */
.hot{
    /*margin: 0;*/
    /*padding: 0;*/
    width: 1230px;
    /*width:1200px;*/
    height: 350px;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.hot .news{
    width: 610px;
    height: 350px;
    /*border: 1px solid pink;*/
    float: left;
}
.hot .news .news_title{
    width: 100%;
    height: 50px;
    /*border: 1px solid lightseagreen;*/
    color:red;
    font-size: 30px;
}
.hot .news .news_title .news_icon{
    vertical-align: center;
    top:3px;
}

.hot .news .news_title .news_titlewords{
    vertical-align: top;
    margin-left: -5px;
}

.hot .news .news_list{
    width: 100%;
    height: 300px;
    /*border: 1px solid lightcoral;*/
}
.hot .news .news_list ul{
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.hot .news .news_list ul li{
    height: 30px;
    line-height: 30px;
    /*border: 1px solid red;*/
    font-size: 16px;
}
.hot .news .news_list ul li a{
    text-decoration: none;
    color: #444444;
}
.hot .mycycle{
    width: 600px;
    height: 350px;
    /*border: 1px solid darkslategray;*/
    /*display: inline;*/
    float: right;
}
.hot .mycycle .imagenews{
    width: 100%;
    height: 100%;
}
.hot .mycycle img{
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* 热点信息结束 */
/*公务员模块*/
.sy_gwy{
    width: 1230px;
    height: 320px;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.sy_gwy .sy_gwy_titleline{
    width:100%;
    height:60px;
}
.sy_gwy .sy_gwy_titleline .sy_gwy_title{
    width: 252px;
    height: 60px;
    line-height: 60px;
    /*background-color: black;*/
    color: red;
    font-size: 30px;
    /*float: left;*/
    display: inline-block;
    vertical-align: bottom;
    /*text-align: center;*/
    /*vertical-align: center;*/
}

.sy_gwy .sy_gwy_titleline .sy_gwy_menu{
    width: 900px;
    height: 60px;
    /*border: 1px solid red;*/
    display: inline-block;
    /*display: inline-block;*/
    vertical-align: bottom;

    /*float: left;*/
    position: relative;
}
.sy_gwy .sy_gwy_titleline .sy_gwy_menu ul{
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sy_gwy .sy_gwy_titleline .sy_gwy_menu ul li {
    height: 60px;
    line-height: 60px;
    width: 100px;
    display: block;
    float: left;
    /*position: absolute;*/
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    /*border: 1px solid gray;*/
    /*vertical-align: bottom;*/
    /*margin-top: 20px;*/
}
.sy_gwy .sy_gwy_titleline .sy_gwy_menu ul li a{
    /*width: 80px;*/
    /*height: 60px;*/
}

.sy_gwy .sy_gwy_titleline .sy_gwy_menu li.active{
    /*border-top: 2px solid red;*/
    /*border-left: 1px solid red;*/
    /*border-right: 1px solid red;*/
}
/*.sy_gwy .sy_gwy_titleline .sy_gwy_menu li:nth-child(2){*/
    /*left: 80px;*/
/*}*/
/*.sy_gwy .sy_gwy_titleline .sy_gwy_menu li:nth-child(3){*/
    /*left: 160px;*/
/*}*/

.sy_gwy .sy_gwy_container{
    width:100%;
    height:240px;
    /*border: 1px solid purple;*/
    position: relative;
}
.sy_gwy .sy_gwy_container .sy_gwy_container_news{
    position: absolute;
    left: 266px;
    top: -2px;
}
.sy_gwy .sy_gwy_container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sy_gwy .sy_gwy_container ul li{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.sy_gwy .sy_gwy_container ul li a{
    color: #444;
}

.sy_footer{
    width: 100%;
    height: 200px;
    /*background-color: #f5f5f5;*/
    background-color: #ecf0f1;

}
.sy_footer .sy_footer_wrap {
    width: 1230px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}
.sy_footer .sy_footer_wrap .sy_footer_box{
    width: 400px;
    height: 80px;
    margin: 0 auto;
}
.sy_footer .sy_footer_wrap .sy_footer_more{
    width: 100px;
    height: 80px;
    float: left;
}
.sy_footer .sy_footer_wrap .sy_footer_focus{
    width: 100px;
    height: 80px;
    float: left;
}
.sy_footer .sy_footer_wrap .sy_footer_join{
    width: 100px;
    height: 80px;
    float: left;
}
.sy_footer .sy_footer_wrap .sy_footer_contact{
    width: 100px;
    height: 80px;
    float: left;
}

.sy_footer .sy_footer_wrap ul{
    padding: 0;
    list-style: none;
}
.sy_footer .sy_footer_linklist{
    margin-top: 15px;
}
.sy_footer .sy_footer_info{
    width: 1230px;
    height:100px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
